@import
"@import url("https://fonts.googleapis.com/css?family=Cairo|Great+Vibes|IM+Fell+Great+Primer+SC")";

header{
  font-family: "Great Vibes", cursive;
}

nav{
  font-family: 'IM Fell Great Primer SC', serif;
}

h1{
  font-family: "Great Vibes", cursive;
}

body{
  font-family: "Cairo", sans-serif;
}

body {
  font: 16px/1.5 serif;
}

#wrapper {
  width:960px;
  margin: 0 auto;
}

header {
  font-size: 30px;
  text-align: center;
  color: rgb(103, 136, 188);
  padding-top: 0;
  border: 0;
}

a:link {
 color:green;
}

a:visited {
 color:rgb(103, 136, 188);
}

a:hover {
 color:black;
}

a:active {
 color:pink;
}

nav ul{
  overflow: hidden;
  background-color: rgb(252, 249, 151);
  text-align: center;
}

 nav li{
  float:inherit;
  display: block;
  padding: 14px, 16px;
  list-style-type: none;
  font-weight: bold;
  text-transform: uppercase;
}

main{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  grid-template-rows: 300px;
  grid-row-gap: 10px;
  grid-template-areas: "paris scotland"
                       "london croatia"
                       "essentials adventuers"
}

footer{
  background-color: none;
  text-align: center;
  padding: 5px;
}

footer li{
  list-style-type: none;
  font-weight: bold;
}

#paris{
  padding-right: 50px;
  padding-left: 50px;

}

#london{
  padding-top:300px;
  padding-left: 50px;
}

#croatia{
  padding-top: 300px;
}

#scotland{
  padding-top: 0px;
}

#essentials{
  background-color: rgb(239, 236, 143);
  text-align: center;
  padding: 10px;
}

#adventuers{
  background-color: rgb(239, 236, 143);
  text-align:center;
  padding: 10px;
}


#camdenphoto{
  padding-top: 10px;
  padding-left: 50px;
}

#londoneyephoto{
  padding-top: 40px;
  padding-left: 50px;
}

#stonehengephoto{
  padding-top: 10px;
  padding-left: 50px;
}

#theatrephoto{
  padding-top: 10px;
  padding-left: 50px;
}

#marcellephoto{
  padding-top: 10px;
  padding-left: 50px;
}

#louvrephoto{
  padding-top: 40px;
  padding-left: 50px;
}

#disneyphoto{
  padding-top: 10px;
  padding-left: 50px;
}

#monalisaphoto{
  padding-left: 50px;
}

#castlephoto{
  padding-top: 10px;
  padding-left: 50px;
}

#scotlandfoodphoto{
  padding-top: 40px;
  padding-left: 50px;
}

#scotlandstreetphoto{
  padding-top: 10px;
  padding-left: 50px;
}

#edinburghview{
  padding-left: 50px;
}

#greenhillsphoto{
  padding-top: 10px;
  padding-left: 50px;
}

#borderofcrotiaphoto{
  padding-left: 50px;
}

#churchphoto{
  padding-left: 50px;
}

#rocksphoto{
  padding-left: 50px;
}

/*hover effect*/

.a {
  height: 300px;
  overflow: hidden;
}

a img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
}
